.App {
  text-align: center;
  
  background-image: url('/src/img/16A_00010-2 pink.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  /*background-color: #44537e;
  */
  display: flex;
  justify-content: center;
  color:  rgba(119, 255, 123, 0.861);
  
}

.App-header h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18vw;
  margin: 0;
  text-shadow: -1px 3px #ed74a9;
}

input {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

Main {
  box-sizing: border-box;
}

.Search {
  display: flex;
  flex-direction: column;
  padding: 0px 0 40px 0;
  align-items: center;
  gap: 20px;
}

.Lists {
  display: flex;
  justify-content: center;
  
  gap: 40px;
  /*margin-left: 20px;
  margin-right: 20px;
  
  - Taking out due to 45% max-width*/
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  
}


.Search-Results,
.Playlist {
  flex: 1; /* Makes both columns equal width */
  max-width: 45%; /* Optional: Limit the max width of each column */
  box-sizing: border-box;
  padding: 10px; /* Adds some padding inside each column */
  background: rgba(228, 228, 228, 0.6);
  min-height: 50%;
  max-height: 85%;
  overflow: scroll;
}

::selection {
  background: rgb(82, 82, 82);
}

footer h4 {
  color: rgba(240, 248, 255, 0.857);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

@media (max-width: 768px) { /* You can adjust the breakpoint as needed */
  .Lists {
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center them on the page */
    
  }

  .Search-Results,
  .Playlist {
    width: 90%; /* Make both take full width */
    max-width: 90%;
  }
}